/* Font Shrikhand */
@font-face {
    font-family: 'shrikhandregular';
    src: url('font/shrikhand-regular-webfont.woff2') format('woff2'),
         url('font/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Font Roboto */
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('font/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('font/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('font/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('font/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('font/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('font/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('font/robotocondensed-light-webfont.woff2') format('woff2'),
         url('font/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('font/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('font/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('font/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('font/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Body */
body {
	margin: 0;
    font-family: 'roboto_condensedregular';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Header */
header h1 {
	font-family: 'shrikhandregular';
	text-align: center;
	margin: 20px 0 15px 0;
}

/* Section 1 */

.geo {
	display: flex;
	justify-content: center;
	background-color: #E0E0E0;
	box-shadow: inset 0px 5px 5px -4px rgba(189,189,189,1);
	
}	
.geo p {
	font-weight: bold;
	font-size: 0.8em;
}
.mapMarker {
	margin-right: 5px;
}
.intro {
	text-align: center;
	background-color: #EEEEEE;
	padding-bottom: 35px;
}
.intro h2 {
	width: 75%;
	margin :auto;
	padding-top: 20px;
}
.intro p {
	font-family: 'roboto_condensedlight';
}
.intro button {
	color: rgba(255,255,255,0.9);
	font-weight: bold;
	padding: 15px 10px 15px 10px;
	background: linear-gradient(to top, #9356DC, #FF79DA);
	border: none;
	border-radius: 10% / 50%;
	box-shadow: 0px 4px 10px 0px rgba(158,158,158 ,1);
}
/* Fonctionnement */

.fonctionnement h2 {
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
.fonctionnement ul {
    width: 85%;
    margin: auto;
    padding: 0;
    text-align: center;
}
.fonctionnement li {
    display: flex;
	list-style: none;
    background-color: #EEEEEE;
    border-radius: 20px;
    margin: 15px 0 15px 0;
    box-shadow: 0px 4px 5px 0px rgba(158,158,158 ,1);
}
.fonctionnement p {
    margin-left: 5px;
    margin-right: 5px;
}
.liNumber {
    position: relative;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
}
.liIcon {
    position: relative;
    right: 10px;
    width: 25px;
    height: 25px;
    opacity: 0.7;
}
.liChoice {
    font-weight: bold;
}
/*Restaurants*/

.restaurants {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding-bottom: 30px;
}
.restaurants h2 {
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 20px
}
.resto {
    position: relative;
    width: 85%;
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(158,158,158 ,1);
    margin-bottom: 20px;
    border-radius: 10px;
}
.restaurants img {
    background-color: #EEEEEE;
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.new {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #99e2d0;
    color: #00796B;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 0.9em;
}
.restoCarte {
    position: relative;
    background-color: white;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}
.restoName {
    color: black;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px 0 0 10px;
}
.restoLieu {
    color: black;
    font-family: 'roboto_condensedlight';
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
}
.restoHeart {
    position: absolute;
    right: 10px;
    top: 5px;
    color: black;
    font-size: 1.4em;
}
/* FOOTER */

footer {    
    width: 100%;
    background-color: #353535;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer h3 {
    font-family: 'shrikhandregular';
    font-weight: normal;
    padding-left: 40px;
}
footer li {
    list-style: none;
}
footer p {
    margin-bottom: 0;
    margin-top: 5px;
}
.footerIcon {
    display: flex;
}
.iconText1, .iconText2 {
margin-left: 8px;
} 
.iconText1 {
    padding-left: 8px;
}

/* PAGES RESTO */

/* HEADER */

.back {
    display: inline-block;
    font-size: 1.5em;
    width: 14%;
    text-align: center;
    margin:20px 0 15px 0;
}
.headerR {
    display: inline-block;
    font-family: 'shrikhandregular';
    width: 70%;
    margin-bottom: 15px;
}
.back a {
    color: black;
}
/* SECTION HEADER */
.bodyResto {
    background-color: #EEEEEE;
}
.bodyResto header {
    height: 250px;
}
figure {
    margin: 0;
}
.imgResto {
    width: 100%;
}
.presResto {
    background-color: #EEEEEE;
    position: relative;
    bottom: 50px;
    border-radius: 25px 25px 0 0;
}
.nomResto {
    display: inline-block;
    font-family: 'shrikhandregular';
    width: 70%;
    margin-left: 20px;
    margin-bottom: 0;
}
.coeurResto {
    display: inline-block;
    font-size: 1.5em;
    width: 20%;
    text-align: center;
    font-weight: lighter;
    margin: 20px 0 20px 0;
}
/* La carte */
.menu ul {
    padding: 0;
}
.menuType {
    width: 90%;
    margin: auto;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.8;
}
.underline {
    border-bottom: solid 2px #99e2d0;
}
.carteChoix {
    position: relative;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(158,158,158 ,1);
    margin-bottom: 15px;
}
.menuName {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.menuSup {
    display: inline-block;
    width: 85%;
    font-family: 'roboto_condensedlight';
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.menuPrix {
    display: inline-block;
    width: 10%
    font-weight:bold;
    opacity: 0.8;
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 10px
}
.order {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.order button {
    align-self: center;
    width: 50%;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    padding: 15px 10px 15px 10px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    border: none;
    border-radius: 10% / 50%;
    box-shadow: 0px 4px 10px 0px rgba(158,158,158 ,1);
}