/* -- Les Keyframes -- */
@keyframes progress-bar {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  @keyframes oh {
    0% {
      color: white;
    }
    35%, 100% {
      color: black;
    }
  }
  @keyframes my {
    0% {
      color: white;
    }
    57%, 100% {
      color: black;
    }
  }
  @keyframes fo {
    0% {
      color: white;
    }
    72%, 100% {
      color: black;
    }
  }
  @keyframes od {
     0% {
      color: white;
    }
    92%, 100% {
      color: black;
    }
  }
  @keyframes mpShowUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes plFadeOut {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes cardLanding {
        0% {
          transform: translateY(500%);
          opacity: 0;
        }
        80% {
            opacity: 50%;
        }
        90% {
            opacity: 60%;
        }
        100% {
          transform: translateY(0);
          opacity:1;
        }
      }

/*  -- Box-Sizing -- */
* {
    box-sizing: border-box;
} 
/* -- html -- Initialisation des variables -- */
html {
    --font-roboto: 'Roboto', sans-serif;
    --font-shrikhand: 'Shrikhand', cursive;
    --primary-color: rgba(147, 86, 220, 1);
    --secondary-color: rgba(255, 121, 218, 1);
    --primary-colorL: rgba(146, 86, 220, 0.7);
    --secondary-colorL: rgba(255, 121, 217, 0.7);
    --tertiary-color: #99E2D0;
    --main-bg: #EEEEEE;
    --darker-bg: #E0E0E0;
    --shadow-color: #bdbdbd;
} 
/* -- Body -- Généralisation des décoration <li> et <a> -- */
body {
	margin: 0;
    font-family: var(--font-roboto);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* -- Loader et Main Page -- */
.pageLoader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: plFadeOut 0.5s 5s 1 forwards;
  }
  .mainPage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    animation: mpShowUp 0.5s 5s 1 forwards;
  }
  .loader {
    position: relative;
    left: 45px;
    border: 5px solid black;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    background: black;
  }
  .bg-black {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50%;
  }
  .bg-white {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transform-origin: left 50%;
    transform: scaleX(0);
    animation: progress-bar 5s 1;
  }
  .pageLoader h1 {
    position: relative; 
    right: 52px;
    font-family: var(--font-shrikhand);
    font-size: 1em;
    color: white;
  }
  .oh {
    animation: oh 5s 0.25s 1;
  }
  .my {
    animation: my 5s 0.5s 1;
  }
  .fo {
    animation: fo 5s 0.75s 1;
  }
  .od {
    animation: od 5s 1s 1;
  }
/*  -- Header -- */
header h1 {
	font-family: var(--font-shrikhand);
	text-align: center;
    margin: 20px 0 15px 0;
    color: black;
}
/* -- Index/Section:1 -- GeoLocalisation -- Introduction -- Bouton Lancement -- */
.geo {
	display: flex;
	justify-content: center;
	background-color: var(--darker-bg);
    box-shadow: inset 0px 5px 5px -4px var(--shadow-color);
}
.geo p {
	font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}
.mapMarker {
    margin-right: 5px;
    cursor: pointer;
}
.intro {
	text-align: center;
	background-color: var(--main-bg);
	padding-bottom: 35px;
}
.intro h2 {
	width: 75%;
    margin :auto;
    font-weight: bolder;
	padding-top: 20px;
}
.intro p {
	opacity: 0.8;
}
.intro button {
	color: #ffffffe6;
	font-weight: bold;
	padding: 15px;
	background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
	border: none;
	border-radius: 10% / 50%;
    box-shadow: 0px 5px 4px var(--shadow-color);
    cursor: pointer;
    transition: all 0.2s;
}
.intro button:hover {
    background: linear-gradient(to top, var(--primary-colorL), var(--secondary-colorL));
    transform: scale(1.01);
    box-shadow: 0px 7px 10px var(--shadow-color);
}
/* -- Index/Section2: -- Fonctionnement de l'application */
.fonctionnement h2 {
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
.fonctionnement ul {
    width: 85%;
    margin: auto;
    padding: 0;
}
.fonctionnement li {
    display: flex;
    align-items: center;
    background: var(--main-bg);
    border-radius: 20px;
    margin: 15px 0 15px 0;
    box-shadow: 0px 5px 4px var(--shadow-color);
    cursor: pointer;
    transition: all 0.2s;
}
.fonctionnement p {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 1.6;
}
.liNumber {
    position: relative;
    right: 15px;
    width: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: white;
}
.liIcon {
    position: relative;
    right: 10px;
    width: 25px;
    opacity: 0.7;
}
.liChoice {
    font-size: 0.8em;
    font-weight: bold;
}
.fonctionnement li:hover {
    background: rgba(146, 86, 220, 0.2);
    transform: scale(1.01);
    box-shadow: 0px 7px 10px var(--shadow-color);
}
/* -- Index/Section:3 Restaurants -- */

.restaurants {
    background-color: var(--main-bg);
    margin-top: 50px;
    padding-bottom: 30px;
}
.restaurants h2 {
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 20px
}
.resto {
    width: 85%;
    margin: auto;
    box-shadow: 0px 5px 4px var(--shadow-color);
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 0.5s;
}
.restoImg-lpdg {
    background-color: var(--main-bg);
    width: 100%;
    height: 20vh;
    background-image: url(images/restaurants/palettegout.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.restoImg-lne {
    background-color: var(--main-bg);
    width: 100%;
    height: 20vh;
    background-image: url(images/restaurants/notenchantée.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.restoImg-alf {
    background-color: var(--main-bg);
    width: 100%;
    height: 20vh;
    background-image: url(images/restaurants/alafrancaise.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.restoImg-ldds {
    background-color: var(--main-bg);
    width: 100%;
    height: 20vh;
    background-image: url(images/restaurants/delicesens.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.new {
    background-color: var(--tertiary-color);
    color: #00796B;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bold;
}
.restoCarte {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
}
.restoName {
    color: black;
    font-weight: bold;
    font-size: 0.9em;
    margin: 10px 0 0 10px;
}
.restoLieu {
    color: black;
    opacity: 0.8;
    font-size: 0.9em;
    margin: 5px 0 10px 10px;
} 
.restoHeart-regular {
    position: absolute;
    top: -12px;
    right: 30px;
    color: black;
    font-size: 1.5em;
    z-index: 2;
}
.restoHeart-solid {
    position: absolute;
    top: -12px;
    right: 30px;
    color: transparent;
    font-size: 1.5em;
    z-index: 1;
  }
.restoHeart-regular:active + .restoHeart-solid {
    color: var(--primary-color);
}
.resto:hover {
    transform: scale(1.02);
    box-shadow: 0px 7px 10px var(--shadow-color);
}
/* -- Footer -- */
footer {    
    width: 100%;
    background-color: #353535;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
}
footer h3 {
    font-family: var(--font-shrikhand);
    font-weight: normal;
    padding-left: 40px;
}
footer p {
    margin-bottom: 0;
    margin-top: 5px;
}
.footerIcon {
    display: flex;
}
.iconText1, .iconText2 {
margin-left: 8px;
} 
.iconText1 {
    padding-left: 8px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgba(255, 255, 255, 0.658);
}
/* -- Pages des Restaurants */
/* -- restaurants/Header --  Avec flèche Retour*/
.back {
    display: inline-block;
    font-size: 1.5em;
    width: 14%;
    text-align: center;
    margin:20px 0 15px 0;
    transition: transform 0.5s;
}
.back:hover {
    transform: scale(1.5);
}
.headerR {
    display: inline-block;
    font-family: var(--font-shrikhand);
    width: 70%;
    margin-bottom: 15px;
}
.back a {
    color: black;
}
/* --Restaurants/Section1: -- Header */
.bodyResto {
    background: var(--main-bg);
}
.bannièreResto-alf {
    width: 100%;
    height: 30vh;
    background-image: url(images/restaurants/alafrancaise.jpg);
    background-position: center center;
    background-size: cover;
}
.bannièreResto-adds {
    width: 100%;
    height: 30vh;
    background-image: url(images/restaurants/delicesens.jpg);
    background-position: center center;
    background-size: cover;
} 
.bannièreResto-lpdg {
    width: 100%;
    height: 30vh;
    background-image: url(images/restaurants/palettegout.jpg);
    background-position: center center;
    background-size: cover;
}
.bannièreResto-ne {
    width: 100%;
    height: 30vh;
    background-image: url(images/restaurants/notenchantée.jpg);
    background-position: center center;
    background-size: cover;
}
.imgResto {
    width: 100%;
    height: 80%;
    background: transparent;
}
.presResto {
    position: relative;
    background-color: var(--main-bg);
    width: 100%;
    height: 20%;
    display: flex;
    padding-top: 20px;;
    border-radius: 25px 25px 0 0;
}
.nomResto {
    font-family: var(--font-shrikhand);
    width: 80%;
    margin: 0;
}
.coeurResto-regular {
    position: absolute;
    font-size: 1.5em;
    right: 25px;
    top: 0;
    z-index: 2;
}
.coeurResto-solid {
    position: absolute;
    font-size: 1.5em;
    right: 25px;
    top: 0;
    color: transparent;
    z-index: 1;
}
.coeurResto-regular:active + .coeurResto-solid {
    color: var(--primary-color);
}

/* -- article/La carte -- */
.menu {
    margin-top: 30px;
}
.menu ul {
    padding: 0;
}
.menuType {
    width: 80%;
    margin: auto;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.8;
}
.underline {
    border-bottom: solid 2px #99E2D0;
}
/* -- Carte Animée -- */
.card-carrier {
    width: 100%;
    overflow: hidden;
  }
.card {
width: 90%;
overflow: hidden;
margin: 20px 16px;
display:flex;
background: white;
border-radius: 20px;
box-shadow: 0 5px 4px #bdbdbd;
cursor: pointer;
opacity:0;
transform: translate(500%);
}
.card:nth-child(1) {
    animation: cardLanding 0.5s ease-out forwards;
}
.card:nth-child(2) {
    animation: cardLanding 0.5s 0.5s ease-out forwards;
}
.card:nth-child(3) {
    animation: cardLanding 0.5s 1s  ease-out forwards;
}
.card:nth-child(4) {
    animation: cardLanding 0.5s 1.5s ease-out forwards;
}
.card-left {
width: 90%;
border-radius: 20px 0 0 20px;
display: flex;
transition: width 0.2s;
}
.card-leftE {
width: 5%;
}
.card-leftI {
width: 95%;
}
.menu-name {
margin: 5px 0;
font-size: 0.8em;
font-weight: bold;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.menu-desc {
margin: 5px 0;    
opacity: 0.7;
font-size: 0.75em;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.card-center {
display: flex;
justify-content: center;
align-items: flex-end;
width: 10%;
transition: width 0.2s;
}
.menu-price {
font-weight: bold;
margin-right: 10px;
}
.card-right {
width: 0;
overflow: hidden;
display: flex;
background: #99E2D0;
border-radius: 0 20px 20px 0;
transition: width 0.2s;
}
.card-rightI {
width: 70%;
display:flex;
justify-content: center;
align-items: center
}
.order-val {
background: white;
padding: 2px 5px;
border-radius: 50%;
color: #99E2D0;
font-weight: bold;
transition: transform 0.5s;
}
.card-rightE {
width: 30%;
}
.card:hover .card-left {
width: 60%;
}
.card:hover .card-center {
width: 15%;
}
.card:hover .card-right {
width: 25%;
}
.card:hover .order-val {
transform: rotate(-360deg);
}
/* -- Bouton : Order -- */
.order {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order button {
    width: 50%;
    color: #ffffffe6;
    font-weight: bold;
    padding: 15px 10px 15px 10px;
    background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
    border: none;
    border-radius: 10% / 50%;
    box-shadow: 0px 5px 4px var(--shadow-color);
    cursor: pointer;
}
.order button:hover {
    background: linear-gradient(to top, var(--primary-colorL), var(--secondary-colorL));
    transform: scale(1.01);
    box-shadow: 0px 7px 10px var(--shadow-color);
}
@media (min-width: 768px) /* -- Tablet size -- */
{
    .loader {
        position: relative;
        left: 125px;
        border: 5px solid black;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        background: black;
      }
    .pageLoader h1 { 
        right: 130px;
        font-family: var(--font-shrikhand);
        font-size: 2.5em;
        color: white;
      }
    .intro button, .order button {
        font-size: 1.1em;
    }
    .geo p {
        font-size: 1em;
    }
    .intro p {
        font-size: 1.1em;
    }
    .fonctionnement p {
        font-size: 1.05em;
    }
    .restoName{
        font-size: 1.1em;
    }
    .restoLieu {
        font-size: 1.1em;
    }
    .nomResto {
        font-size: 1.7em;
        margin: 0 0 0 65px;
    }
    .back a {
        font-size: 1.2em;
    }
    .coeurResto-regular, .coeurResto-solid {
        right: 100px;
        font-size: 1.7em;
    }
    .card {
        margin: 20px 35px;
    }
    .menu-name {
        font-size: 1em;
    }
    .menu-desc {
        font-size: 1em;
    }
    .order button {
        width:  35%;
    }
}
@media (min-width: 992px) 
{
    header h1 {
        font-size: 2.5em;
    }
    .fonctionnement h2, .restaurants h2 {
        width: 90%;
        font-size: 1.8em;
        text-align: center;
    }
    .fonctionnement ul {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    .fonctionnement li {
        width: 30%;
    }
    .restaurants {
        display: flex;
        flex-wrap: wrap;
    }
    .resto {
        width: 40%;
    }
    footer h3 {
        font-size: 1.8em;
        text-align: center;
        padding-left: 0;
    }
    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    footer li {
        font-size: 1.1em;
    }
    .fullMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .menu {
        width: 45%;
        margin-top: 35px;
    }
    .nomResto {
        font-size: 2em;
        margin: 0 0 0 105px;
    }
    .order button {
        width: 25%;
    }
}
@media (min-width: 1200px) 
{
    .presResto {
        padding-bottom: 35px;
    }
    .nomResto {
        margin: 0 0 0 145px;
    }
    .fullMenu {
        flex-wrap: nowrap;
    }
    .menu {
        width: 33%;
    }
    .card {
        width: 85%;
    }
    .order button {
        width: 15%;
    }
    .fonctionnement li {
        justify-content: center;
    }
}